<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <p class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
        <a class="text-decoration-none text-dark" href="/">
            community
        </a>
    </p>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>


    <div class="col-md-3 text-end" sec:authorize="isAnonymous()">
        <a th:href="@{/login}" class="btn btn-outline-primary me-2">Login</a>
        <a th:href="@{/register}" class="btn btn-primary">Sign-up</a>
    </div>

    <div class="col-md-3 text-end" sec:authorize="isAuthenticated()" th:with="account = ${@securityContextUtil.currentAccount()}">
        <a th:href="@{/logout}" th:method="post" class="btn btn-outline-primary me-2">Logout</a>
        <a class="btn btn-outline-info me-3" th:href="@{/changeInformation}">정보 수정</a>

        <a class="btn btn-primary" th:href="@{/info/{id}(id=${account.id})}" th:text="${account.nickname}"></a>
        <img alt="profile" class="rounded-circle profile ms-3" th:src="@{/profile/{img}(img=${account.profileImg})}">
    </div>
</header>
</body>
</html>