<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <th:block th:replace="admin/fragment/adminStaticFragment :: head"/>
    <meta th:name="newPost" th:value="${count.newPost}">
    <meta th:name="newComment" th:value="${count.newComment}">
    <meta th:name="newAccount" th:value="${count.newAccount}">

</head>

<body>
    <div class="dash">
        <th:block th:replace="/admin/fragment/adminComponent :: sideBar"/>

        <div class="dash-app">
            <th:block th:replace="/admin/fragment/adminComponent :: toolbar"/>

            <main class="dash-content">
                <div class="container-fluid">
                    <div class="row dash-row">
                        <div class="col-xl-4">
                            <div class="stats stats-primary">
                                <h3 class="stats-title"> 전체 회원수 </h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fas fa-user"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number" th:text="${dashboard.countAllAccount}">114</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-success ">
                                <h3 class="stats-title"> 전체 게시글 수 </h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fa-solid fa-text"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number" th:text="${dashboard.countAllPost}"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4">
                            <div class="stats stats-danger">
                                <h3 class="stats-title" > 전체 댓글 수 </h3>
                                <div class="stats-content">
                                    <div class="stats-icon">
                                        <i class="fa-solid fa-message-text"></i>
                                    </div>
                                    <div class="stats-data">
                                        <div class="stats-number" th:text="${dashboard.countAllComment}">5</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="card spur-card">
                                <div class="card-header">
                                    <div class="spur-card-icon">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                    <div class="spur-card-title"> 금일 회원 활동 </div>
                                    <div class="spur-card-menu">
                                        <div class="dropdown show">
                                            <a aria-expanded="false" aria-haspopup="true" class="spur-card-menu-link" data-toggle="dropdown" href="#" role="button">
                                            </a>
                                            <div aria-labelledby="dropdownMenuLink" class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body spur-card-body-chart">
                                    <canvas id="spurChartjsBar"></canvas>
                                    <script>
                                        var ctx = document.getElementById("spurChartjsBar").getContext('2d');
                                        const newPost = document.querySelector("meta[name='newPost']").getAttribute("value");
                                        const newComment = document.querySelector("meta[name='newComment']").getAttribute("value");
                                        const newAccount = document.querySelector("meta[name='newAccount']").getAttribute("value");


                                        var myChart = new Chart(ctx, {
                                            type: 'bar',
                                            data: {
                                                labels: ["신규 게시글","신규 댓글","신규 회원"],
                                                datasets: [{
                                                    label: 'Blue',
                                                    data: [ newPost,newComment,newAccount ],
                                                    backgroundColor: window.chartColors.primary,
                                                    borderColor: 'transparent'
                                                }]
                                            },
                                            options: {
                                                legend: {
                                                    display: false
                                                },
                                                scales: {
                                                    yAxes: [{
                                                        ticks: {
                                                            beginAtZero: true
                                                        }
                                                    }]
                                                }
                                            }
                                        });
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <th:block th:replace="admin/fragment/adminStaticFragment :: script"/>
</body>

</html>