<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head :: head"/>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="fragment/header::header"/>
    <div class="d-flex justify-content-center">
        <h3>공지사항</h3>
    </div>

    <div class="row mt-3 p-3">
        <div class="col-8 offset-2">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">순번</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일자</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="notice : ${noticeList.getDataList()}">
                    <th th:text="${notice.id}">1</th>
                    <td>
                        <a th:href="@{/notice/{id}(id=${notice.id})}" th:text="${notice.title}"></a>
                    </td>
                    <td th:text="${notice.adminName}"></td>
                    <td th:text="${#temporals.format(notice.createAt,'yyyy-MM-dd')}"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <nav aria-label="Page navigation" class="d-flex justify-content-center mt-3"
             th:with="startPage = ${noticeList.startPage}, endPage = ${noticeList.endPage}">
            <ul class="pagination">
                <li class="page-item" th:classappend="${noticeList.existPrevPage ? '' : 'disabled'}">
                    <a aria-label="Previous" class="page-link" th:href="@{/notice(page=${noticeList.startPage - 5})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>

                <li class="page-item" th:classappend="${noticeList.currentPage == page ? 'active' : ''}"
                    th:each="page: ${#numbers.sequence(startPage, endPage)}">
                    <a class="page-link" th:href="@{/notice(page=${page})}" th:text="${page}"></a>
                </li>

                <li class="page-item" th:classappend="${noticeList.existNextPage ? '' : 'disabled'}">
                    <a aria-label="Next" class="page-link" th:href="@{/notice(page=${noticeList.startPage + 5})}">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
</div>
</body>
</html>