<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <p class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
        <a class="text-decoration-none text-dark" href="/">
            community
        </a>
    </p>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a class="nav-link px-2 link-secondary" th:href="@{/}">Home</a></li>
        <li><a class="nav-link px-2 link-dark" th:href="@{/notice}">Notice</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>


    <div class="col-md-3 text-end" sec:authorize="isAnonymous()">
        <a th:href="@{/login}" class="btn btn-outline-primary me-2">Login</a>
        <a th:href="@{/register}" class="btn btn-primary">Sign-up</a>
    </div>

    <div class="col-md-3 text-end" sec:authorize="hasRole('USER')" th:with="account = ${@securityContextUtil.currentAccount()}">
        <div class="d-flex justify-content-end">

            <div class="dropdown me-3">

                <a aria-expanded="false" data-bs-offset="10,20" data-bs-toggle="dropdown" id="dropdownMenuButton1" style="cursor: pointer">
                    <img alt="profile" class="rounded-circle profile-post ms-3" th:src="@{/profile/{img}(img=${account.profileImg})}">
                </a>

                <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu dropdown-menu-end dropdown-menu-lg-start">
                    <li>
                        <a class="me-3 dropdown-item" th:href="@{/info/{id}(id=${account.id})}">
                            <i class="bi bi-person-bounding-box"></i>
                            <span class="ms-2">Profile</span>
                        </a>
                    </li>
                    <li>
                        <a class="me-3 dropdown-item" th:href="@{/changeInformation}">
                            <i class="bi bi-person-lines-fill"></i>
                            <span class="ms-2">정보 수정</span>
                        </a>
                    </li>
                    <li><hr class="dropdown-divider"></li>
                    <li>
                        <a class="me-3 dropdown-item" th:href="@{/logout}" th:method="post">
                            <i class="bi bi-arrow-down-left-square"></i>
                            <span class="ms-2">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>

<!--            <button aria-controls="offcanvasRight" class="btn btn-success" data-bs-target="#offcanvasRight" data-bs-toggle="offcanvas"-->
<!--                    style="display: inline"-->
<!--                    th:disabled="${notiCount == 0}" th:href="@{/notification}" th:with= "notiCount = ${@notificationService.countNotification()}">-->
<!--                <th:block th:text="${notiCount}"></th:block>-->
<!--                <i class="bi bi-bell" th:if="${notiCount == 0}"></i>-->
<!--                <i class="bi bi-bell-fill" th:if="${notiCount > 0}"></i>-->
<!--            </button>-->

            <button aria-controls="offcanvasRight" class="btn btn-outline-secondary position-relative"
                    data-bs-target="#offcanvasRight"
                    data-bs-toggle="offcanvas"
                    th:disabled="${notiCount == 0}"
                    th:with= "notiCount = ${@notificationService.countNotification()}"
                    type="button">
                <i class="bi bi-bell" th:if="${notiCount == 0}"></i>
                <i class="bi bi-bell-fill" th:if="${notiCount > 0}"></i>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    <th:block th:text="${notiCount}"></th:block>
                </span>
            </button>

        </div>
    </div>

    <div class="col-md-3 text-end" sec:authorize="hasRole('ADMIN')">
        ADMIN
    </div>

    <div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end" id="offcanvasRight" tabindex="-1">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Notification</h5>
            <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
        </div>
        <form class="d-flex justify-content-center" th:action="@{/notification/removeAll}" th:method="post">
            <button class="btn btn-outline-danger m-3">모두삭제</button>
            <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
        </form>

        <div class="offcanvas-body">
            <div class="d-flex flex-column" id="offcanvas-body">

            </div>
        </div>
    </div>

    <script defer>
        function createHtml(data) {
            let iClass = ""
            switch (data.eventType) {
                case "LIKE_EVENT":
                    iClass += "bi bi-heart-fill"
                    break
                case "COMMENT_EVENT":
                    iClass += "bi bi-chat"
                    break

                case "GUEST_BOOK_EVENT":
                    iClass += "bi bi-pen"
                    break

                case "RE_REPLY":
                    iClass += "bi bi-chat-dots"
                    break
            }

            const notifiedDate = new Date(data.notifiedTime)
            const formatDate = (current_datetime)=>{
                return current_datetime.getFullYear() + "-" + (current_datetime.getMonth() + 1) + "-" +
                    current_datetime.getDate() + " " + current_datetime.getHours() + ":" +
                    current_datetime.getMinutes();
            }


            return `<div class="d-flex flex-column alert alert-secondary">
                    <div class=" mb-3 d-flex justify-content-start" role="alert">
                        <i class="${iClass}"></i>
                        <a class="ms-3 text-decoration-none text-black" href="${data.notificationId}">${data.content}</a>
                    </div>
                    <div>
                        <i class="bi bi-calendar-event"></i>
                        <span class="mb-0 ms-2 align-self-center">${formatDate(notifiedDate)}</span>
                    </div>
                </div>`
        }

        const body = document.getElementById("offcanvas-body");
        document.getElementById("offcanvasRight").addEventListener("show.bs.offcanvas",() => {
            fetch("/notification")
                .then(res => res.json())
                .then(json => json.data)
                .then(data => data.map(value => createHtml(value)))
                .then(data => body.innerHTML = data.join(""))
        })

    </script>
</header>
</body>
</html>