<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header th:fragment="header" class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <p class="d-flex align-items-center col-md-3 mb-2 mb-md-0">
        <a class="text-decoration-none text-dark" href="/">
            community
        </a>
    </p>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">FAQs</a></li>
        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
    </ul>


    <div class="col-md-3 text-end" sec:authorize="isAnonymous()">
        <a th:href="@{/login}" class="btn btn-outline-primary me-2">Login</a>
        <a th:href="@{/register}" class="btn btn-primary">Sign-up</a>
    </div>

    <div class="col-md-3 text-end" sec:authorize="isAuthenticated()" th:with="account = ${@securityContextUtil.currentAccount()}">

        <button aria-controls="offcanvasRight" class="btn btn-success" data-bs-target="#offcanvasRight"
                data-bs-toggle="offcanvas"
                th:disabled="${notiCount == 0}" th:href="@{/notification}" th:with= "notiCount = ${@notificationService.countNotification()}">
            <th:block th:text="${notiCount}"></th:block>
            <i class="bi bi-bell" th:if="${notiCount == 0}"></i>
            <i class="bi bi-bell-fill" th:if="${notiCount > 0}"></i>
        </button>

        <div class="dropdown me-3 ms-3" style="display: inline-block">
            <button aria-expanded="false" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" id="dropdownMenuButton1" type="button">
                <i class="bi bi-grid-3x3-gap"></i>
            </button>
            <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
                <li>
                    <a class="me-3 dropdown-item" th:href="@{/changeInformation}">정보 수정</a>
                </li>
                <li>
                    <a class="me-3 dropdown-item" th:href="@{/logout}" th:method="post">Logout</a>
                </li>
            </ul>
        </div>

        <a data-bs-placement="bottom"
               data-bs-toggle="tooltip"
               th:href="@{/info/{id}(id=${account.id})}"
               th:title="${account.nickname}">
            <img alt="profile" class="rounded-circle profile ms-3" th:src="@{/profile/{img}(img=${account.profileImg})}">
        </a>
    </div>

    <div aria-labelledby="offcanvasRightLabel" class="offcanvas offcanvas-end" id="offcanvasRight" tabindex="-1">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Notification</h5>
            <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
        </div>
        <form class="d-flex justify-content-center" th:action="@{/notification/removeAll}" th:method="post">
            <button class="btn btn-outline-danger m-3">모두삭제</button>
            <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
        </form>

        <div class="offcanvas-body">
            <div class="d-flex flex-column" id="offcanvas-body">

            </div>
        </div>
    </div>

    <script defer>
        function createHtml(data) {
            return `<div class="alert alert-primary mb-3 d-flex justify-content-xl-between" role="alert">
                    <a href="${data.uri}">${data.content}</a>
                </div> `
        }

        const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        const tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        const body = document.getElementById("offcanvas-body");
        document.getElementById("offcanvasRight").addEventListener("show.bs.offcanvas",() => {
            fetch("/notification")
                .then(res => res.json())
                .then(json => json.data)
                .then(data => data.map(value => createHtml(value)))
                .then(data => body.innerHTML = data.join(""))
        })

    </script>
</header>
</body>
</html>