<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="card" th:fragment="userCard(profile,nickname)">
        <div class="card-body">
            <div class="d-flex justify-content-center">
                <img alt="..." class="rounded-circle" style="width: 150px;height: 150px" th:src="@{${profile}}">
            </div>
            <div class="text-center my-6">
                <!-- Title -->
                <p class="d-block h5 mb-0 mt-3" th:text="${nickname}">Julienne Moore</p>
                <!-- Subtitle -->
            </div>
        </div>
    </div>
</body>
</html>