<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="frament/head::head"/>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="frament/header::header"/>
    <div class="row">
        <div class="col-10 offset-1">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${post.postTitle}">Welcome to Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on <span
                            th:text="${#temporals.format(post.createdBy,'yyyy-MM-dd HH:mm')}"/> by <span
                            th:text="${post.author}"/></div>
                    <!-- Post categories-->
                    <th:block th:each="tag:${post.tagList}">
                        <a class="badge bg-secondary text-decoration-none link-light" href="#" th:href="@{/search(param = ${'tag'}, keyword=${tag.item.replace('#','')})}" th:text="${tag.item}">Web
                            Design</a>
                    </th:block>
                </header>

                <!-- Post content-->
                <section class="mb-5">
                    <th:block th:utext="${post.postContent}"/>
                </section>
            </article>

            <div class="d-flex justify-content-center mb-3">
                <form method="post" th:action="@{/post/{id}/like(id=${post.postId})}">
                    <button class="btn btn-outline-danger" type="submit">
                        <span class="me-3" th:text="${post.likeCount}"/>
                        <i class="bi bi-heart" th:if="${post.likeCount} == 0"></i>
                        <i class="bi bi-heart-fill" th:if="${post.likeCount} > 0"></i>
                    </button>
                    <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
                </form>
            </div>

            <div class="row">
                <p class="mb-1" th:each="file : ${post.getUploadFileLink}">
                    <a  th:href="@{/download/{name}(name=${file.convertFileName})}" th:text="${file.originFileName}"></a>
                </p>
            </div>

            <div class="d-flex justify-content-end mb-3" th:if="${post.isCreated}" th:with="id=${post.postId}">

                <form class="me-3" method="get" th:action="@{/post/{id}/edite(id=${id})}">
                    <button class="btn text-info" type="submit">수정</button>
                </form>

                <form method="post" th:action="@{/post/{id}/delete(id=${id})}">
                    <button class="btn text-danger" type="submit">삭제</button>
                    <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
                </form>

            </div>

            <!-- Comments section-->
            <section class="mb-5" th:if="${post.commentResponseDtoList.size() != 0} or !${#authentication.name.equals('anonymousUser')}">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4" id="commentForm" method="post" sec:authorize="isAuthenticated()" th:action="@{/comment}">
                            <textarea class="form-control" name="commentContent" placeholder="Join the discussion and leave a comment!" rows="2"></textarea>
                            <div class="d-flex justify-content-end mt-3">
                                <button class="btn btn-outline-primary" type="submit">댓글작성</button>
                            </div>
                            <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
                            <input name="postId" th:name="postId" th:value="${post.postId}" type="hidden">
                        </form>

                        <!--comment-->
                        <div class="mb-3" th:each="comment : ${post.commentResponseDtoList}">
                            <div class="d-flex mb-5">
                                <div class="flex-shrink-0">
                                    <img alt="..." class="rounded-circle profile-comment" th:src="@{/profile/{imgPath}(imgPath=${comment.authorProfile})}">
                                </div>
                                <div class="ms-3">
                                    <div class="fw-bold mb-1" th:text="${comment.author}">Commenter Name</div>
                                    <p th:text="${comment.content}"></p>
                                    <a class="text-info fs-6 addChildComment" sec:authorize="isAuthenticated()" th:value="${comment.commentId}">댓글달기</a>
                                    <a class="text-danger fs-6 ms-2 delCommentBtn" th:if="${comment.createAuthor}" th:value="${comment.commentId}">댓글삭제</a>
                                </div>
                            </div>
                            <!-- Child comment-->
                            <div class="d-flex mt-4 ms-3" th:each="childComment : ${comment.childrenCommentList}">
                                <div class="flex-shrink-0">
                                    <i class="bi bi-arrow-return-right me-3"></i>
                                    <img alt="..." class="rounded-circle profile-comment" th:src="@{/profile/{imgPath}(imgPath=${childComment.authorProfile})}">
                                </div>
                                <div class="ms-3">
                                    <div class="fw-bold mb-1" th:text="${childComment.author}">Commenter Name</div>
                                    <p th:text="${childComment.content}"></p>
                                    <a class="text-danger fs-6 ms-2 delCommentBtn" th:if="${childComment.createAuthor}" th:value="${childComment.commentId}">댓글삭제</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script defer sec:authorize="isAuthenticated()" th:inline="javascript">

    const csrfName = [[${_csrf.headerName}]]
    const csrfToken = [[${_csrf.token}]]
    const postId = [[${post.postId}]]
    const _csrf = document.querySelector("#commentForm > input[name = '_csrf']").value

    document.querySelectorAll(".addChildComment").forEach(elem => {
        elem.addEventListener("click",e => {

            if (elem.parentElement.parentElement.parentElement.lastElementChild.nodeName === "FORM")
                return;

            const form = document.createElement("form")
            form.setAttribute("charset", "UTF-8")
            form.setAttribute("method","post")
            form.setAttribute("action","/comment")


            const csrfHiddenInput = document.createElement("input")
            csrfHiddenInput.setAttribute("type","hidden")
            csrfHiddenInput.setAttribute("name",csrfName)
            csrfHiddenInput.setAttribute("value",csrfToken)

            const postIdHiddenInput = document.createElement("input")
            postIdHiddenInput.setAttribute("type","hidden")
            postIdHiddenInput.setAttribute("name","postId")
            postIdHiddenInput.setAttribute("value",postId)

            const parentCommentId = elem.getAttribute("value")

            const parentCommentHiddenInput = document.createElement("input")
            parentCommentHiddenInput.setAttribute("type","hidden")
            parentCommentHiddenInput.setAttribute("name","parentCommentId")
            parentCommentHiddenInput.setAttribute("value",parentCommentId)


            const childCommentInput = document.createElement("input")
            childCommentInput.setAttribute("name","commentContent")
            childCommentInput.className = "form-control mb-4"
            childCommentInput.setAttribute("placeholder","Join the discussion and leave a comment!")

            const div = document.createElement("div");
            div.className = "row mt-3 ms-5"

            const submitBtn = document.createElement("button");
            submitBtn.setAttribute("type","submit")
            submitBtn.innerHTML = "댓글 작성"
            submitBtn.className = "btn btn-outline-primary btn-sm col-1 offset-11 me-3"

            const _csrfHiddenInput = document.createElement("input")
            _csrfHiddenInput.setAttribute("name","_csrf")
            _csrfHiddenInput.setAttribute("value",_csrf)
            _csrfHiddenInput.setAttribute("type","hidden")

            //TODO : 댓글 취소 버튼 추가
            div.appendChild(childCommentInput)
            div.appendChild(submitBtn)

            form.appendChild(csrfHiddenInput)
            form.appendChild(postIdHiddenInput)
            form.appendChild(parentCommentHiddenInput)
            form.append(_csrfHiddenInput)
            form.append(div)

            elem.parentElement.parentElement.parentElement.appendChild(form)
            childCommentInput.focus()
        })
    })

    document.querySelectorAll(".delCommentBtn").forEach(elem => {
        elem.addEventListener("click",function (e) {

            const commentId = elem.getAttribute("value");
            const form = document.createElement("form");

            form.setAttribute("charset", "UTF-8")
            form.setAttribute("method","post")
            form.setAttribute("action","/comment/delete")
            form.setAttribute("type","hidden")

            const csrfHiddenInput = document.createElement("input")
            csrfHiddenInput.setAttribute("type","hidden")
            csrfHiddenInput.setAttribute("name",csrfName)
            csrfHiddenInput.setAttribute("value",csrfToken)

            const _csrfHiddenInput = document.createElement("input")
            _csrfHiddenInput.setAttribute("name","_csrf")
            _csrfHiddenInput.setAttribute("value",_csrf)
            _csrfHiddenInput.setAttribute("type","hidden")

            const deleteCommentHiddenInput = document.createElement("input")
            deleteCommentHiddenInput.setAttribute("name","deleteCommentId")
            deleteCommentHiddenInput.setAttribute("value",commentId)
            deleteCommentHiddenInput.setAttribute("type","hidden")
            form.append(csrfHiddenInput,_csrfHiddenInput,deleteCommentHiddenInput)


            document.querySelector("body").appendChild(form)

            form.submit()
        })
    })
</script>
</body>
</html>