<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="frament/head::head"/>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="frament/header::header"/>
    <div class="row">
        <div class="col-10 offset-1">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1" th:text="${post.postTitle}">Welcome to Blog Post!</h1>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">Posted on <span
                            th:text="${#temporals.format(post.createdBy,'yyyy-MM-dd HH:mm')}"/> by <span
                            th:text="${post.author}"/></div>
                    <!-- Post categories-->
                    <th:block th:each="tag:${post.tagList}">
                        <a class="badge bg-secondary text-decoration-none link-light" href="#" th:text="${tag.item}">Web
                            Design</a>
                    </th:block>
                </header>

                <!-- Post content-->
                <section class="mb-5">
                    <th:block th:utext="${post.postContent}"/>
                </section>
            </article>

            <div class="d-flex justify-content-center mb-5">
                <form method="post" th:action="@{/post/{id}/like(id=${post.postId})}">
                    <button class="btn btn-outline-primary" type="submit">
                        <span class="me-3" th:text="${post.likeCount}"/>
                        <i class="bi bi-heart" th:if="${post.likeCount} == 0"></i>
                        <i class="bi bi-heart-fill" th:if="${post.likeCount} > 0"></i>
                    </button>
                    <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
                </form>
            </div>

            <div class="d-flex justify-content-end mb-3" th:if="${post.isCreated}" th:with="id=${post.postId}">

                <form class="me-3" method="get" th:action="@{/post/{id}/edite(id=${id})}">
                    <button class="btn text-info" type="submit">수정</button>
                </form>

                <form method="post" th:action="@{/post/{id}/delete(id=${id})}">
                    <button class="btn text-danger" type="submit">삭제</button>
                    <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
                </form>

            </div>

            <!-- Comments section-->
            <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">
                        <!-- Comment form-->
                        <form class="mb-4" method="post" sec:authorize="isAuthenticated()" th:action="@{/comment}">
                            <textarea class="form-control" name="commentContent" placeholder="Join the discussion and leave a comment!" rows="2"></textarea>
                            <div class="d-flex justify-content-end mt-3">
                                <button class="btn btn-outline-primary" type="submit">댓글작성</button>
                            </div>
                            <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
                            <input name="postId" th:name="postId" th:value="${post.postId}" type="hidden">
                        </form>


                        <!--comment-->
                        <div class="d-flex">
                            <div class="flex-shrink-0">
                                <img alt="..." class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg">
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold mb-1">Commenter Name</div>
                                <div>
                                    <p>When I look at the universe and all the ways the universe wants to kill us, I
                                        find it hard to reconcile that with statements of beneficence.</p>
                                </div>
                                <a class="text-info fs-6">댓글달기</a>
                                <a class="text-danger fs-6 ms-2">댓글삭제</a>
                            </div>
                        </div>

                        <!-- Child comment1-->
                        <div class="d-flex mt-4 ms-3">
                            <div class="flex-shrink-0">
                                <i class="bi bi-arrow-return-right me-3"></i>
                                <img alt="..." class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg">
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold mb-1">Commenter Name</div>
                                <p>And under those conditions, you cannot establish a capital-market evaluation of that
                                    enterprise. You can't get investors.</p>
                            </div>
                        </div>

                        <!-- Child comment2-->
                        <div class="d-flex mt-4 ms-3">
                            <div class="flex-shrink-0">
                                <i class="bi bi-arrow-return-right me-3"></i>
                                <img alt="..." class="rounded-circle" src="https://dummyimage.com/50x50/ced4da/6c757d.jpg">
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold mb-1">Commenter Name</div>
                                <p>And under those conditions, you cannot establish a capital-market evaluation of that
                                    enterprise. You can't get investors.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
    </div>

</div>

</body>
</html>