<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head :: head"/>
    <meta charset="UTF-8">
    <title>404</title>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="fragment/header::header"/>

    <div class="col-12">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold text-danger">400 ERROR</h1>
                <p class="col-md-8 fs-4">요청 하신 페이지는 존재하지 않거나 삭제된 페이지 입니다.</p>
                <a class="btn btn-outline-secondary btn-lg" th:href="@{/}">홈으로</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>