<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragment/head::head"/>
    <style>
        th,td {
            vertical-align : middle
        }
    </style>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="fragment/header::header"/>
    <div class="row">

        <th:block th:replace="fragment/securitySidebar :: security('changeInformation')"/>
        <div class="col-6 offset-1">
            <h4 class="mb-1">회원정보 변경</h4>
            <form enctype="multipart/form-data" method="post" th:action th:object="${information}">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">NickName</span>
                    <input aria-describedby="basic-addon1" aria-label="Username" class="form-control" placeholder="Username" th:field="*{nickname}" type="text">
                </div>
                <p class="text-danger" th:if="${#fields.hasErrors('nickname')}"> 닉네임은 2글자 이상 10글자 이하로 입력해주세요</p>

                <div class="mb-3">
                    <label class="form-label" for="formFile">프로필 이미지</label>
                    <input accept=".jpg, .png, .jpeg" class="form-control" id="formFile" th:field="*{profile}" type="file">
                </div>

                <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
                <button class="btn btn-outline-primary" type="submit">저장</button>
            </form>
        </div>
    </div>

</div>


</body>
</html>