<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragment/head::head"/>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="fragment/header::header"/>

    <form class="row mt-3 p-3" id="form" method="post">
        <h4>비밀번호 찾기</h4>
        <p class="text-danger" th:if="${err}">존재하지 않는 계정입니다</p>
        <div class="col-3 mt-4">
            <div class="form-floating mb-3">
                <input class="form-control" id="floatingInput" name="email" placeholder="name@example.com" type="email">
                <label for="floatingInput">Email address</label>
            </div>
        </div>

        <div>
            <button class="btn btn-outline-primary">이메일 확인</button>
        </div>
    </form>
</div>
</body>
</html>