<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="fragment/head::head"/>
    <style>
        th,td {
            vertical-align : middle
        }
    </style>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="fragment/header::header"/>
    <div class="row">

        <th:block th:replace="fragment/sidebar :: side('guestBook',${userId})"/>

        <div class="col-9 ms-4">

            <th:block th:replace="fragment/userCard :: userCard(${accountInfo.profile},${accountInfo.nickname},${accountInfo.email})"/>

            <div class="row mt-5 p-3">

                <form class="mb-5 mt-3" method="post" th:action>
                    <div class="input-group  mb-3" th:with="login = ${@authorizeCheckUtil.isLoginUser(#authentication)}">
                        <input aria-describedby="button-addon2" aria-label="Recipient's username" class="form-control"
                               name="content"
                               required
                               th:placeholder="${login} ? '여기에 입력해주세요' : '로그인 후 이용해주세요'"
                               type="text">
                        <button class="btn btn-outline-secondary" id="button-addon2" type="submit">작성</button>
                    </div>
                    <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden"/>
                </form>

                <th:block th:if="${!pageResponse.dataList.isEmpty()}">

                    <table class="table table-sm table-striped">

                        <tbody>
                        <tr th:each="guest : ${pageResponse.dataList}" th:with="deleteAble = ${@guestBookService.isOwner(#authentication, userId)}">
                            <th scope="row" th:text="${guest.sequence}">1</th>
                            <td th:text="${guest.guestNickName}">Mark</td>
                            <td th:text="${guest.content}"></td>
                            <td th:text="${#temporals.format(guest.createdAt, 'yyyy-MM-dd HH:mm')}">Otto</td>
                            <td th:if="${deleteAble}">
                                <form method="post" th:action="@{/guestBook/delete/{id}(id=${guest.sequence})}" >
                                    <input th:name="${_csrf.headerName}" th:value="${_csrf.token}" type="hidden">
                                    <input th:name="delete" th:value="${guest.sequence}" type="hidden">
                                    <button class="btn btn-outline text-danger text-decoration-none">삭제</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <nav aria-label="Page navigation" class="d-flex justify-content-center mt-3"
                         th:with="startPage = ${pageResponse.startPage}, endPage = ${pageResponse.endPage}">
                        <ul class="pagination">
                            <li class="page-item" th:classappend="${pageResponse.existPrevPage ? '' : 'disabled'}">
                                <a aria-label="Previous" class="page-link" th:href="@{/guestBook/{id}(id=${userId},page=${pageResponse.startPage - 5})}">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>

                            <li class="page-item" th:classappend="${pageResponse.currentPage == page ? 'active' : ''}"
                                th:each="page: ${#numbers.sequence(startPage, endPage)}">
                                <a class="page-link" th:href="@{/guestBook/{id}(id=${userId},page=${page})}" th:text="${page}"></a>
                            </li>

                            <li class="page-item" th:classappend="${pageResponse.existNextPage ? '' : 'disabled'}">
                                <a aria-label="Next" class="page-link" th:href="@{/guestBook/{id}(id=${userId},page=${pageResponse.startPage + 5})}">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </th:block>

                <th:block th:if="${pageResponse.dataList.isEmpty()}">
                    <h3 class="text-center">방명록이 없습니다</h3>
                </th:block>
            </div>
        </div>
    </div>

</div>

</body>
</html>