<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="frament/head :: head"/>

</head>
<body>
<div class="container">
    <div class="px-4 py-5 my-5 text-center">
        <h1 class="display-5 fw-bold mb-5">회원가입 이메일 인증 안내</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4" th:text="${confirm.email}"></p>
            <p class="lead mb-4"><span th:text="${confirm.nickname}"> </span>님 위에 이메일로 가셔서 이메일 인증을 완료해주세요</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                <a class="btn btn-primary btn-lg px-4 gap-3" th:href="@{/}">홈으로</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>