<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <th:block th:replace="frament/head :: head"/>
    <style>
        .p-normal {
            margin-bottom: 0;
        }
    </style>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="frament/header::header"/>

    <div class="row mt-3">
        <div class="col-6 offset-3">
            <div class="card mb-3">
                <div class="card-header">
                    <div class="row">
                        <div class="col-4">
                            <div class="d-flex">
                                <img alt="profile" class="rounded-circle profile-list " src="" th:src="@{/profile/person.png}">
                                <p class="p-normal ms-3">USERNAME</p>
                            </div>
                        </div>
                        <div class="col-1 offset-7">
                            <div class="d-flex">
                                <i class="bi bi-heart"></i>
                                <p class="p-normal ms-2">120</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="card-body">
                    <h5>title</h5>
                    <p class="card-text">content...</p>
                </div>

                <div class="card-footer">
                    <div class="row">
                        <div class="col-5">
                            <div class="d-flex justify-content-start foot-area">
                                <p class="me-2 p-normal">#tag1</p>
                                <p class="me-2 p-normal">#tag2</p>
                            </div>
                        </div>
                        <div class="col-3 offset-4">
                            <p class="p-normal align-content-center">Created On : 2022.04.18</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>
</body>
</html>