<!DOCTYPE html>
<html lang="ko" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="fragment/head :: head"/>
    <style>
        body {
            overflow-x: hidden;
        }
    </style>
</head>
<body>
<div class="container-fluid p-3">
    <th:block th:replace="fragment/header::header"/>

    <div class="row mb-5 p-3">
        <form action="/search" class="col-6 offset-3" method="get">
            <div>
                <div class="input-group">
                    <div class="input-group-btn search-panel dropstart">
                        <button class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown" type="button">
                            <span id="search_concept">제목</span>
                        </button>
                        <ul class="dropdown-menu me-3" role="menu">
                            <li th:each="searchParam : ${T(com.example.community.domain.post.common.SearchParam).values()}">
                                <a class="dropdown-item" th:data-value="${searchParam.name()}"
                                   th:text="${searchParam.description}"></a>
                            </li>
                        </ul>
                    </div>
                    <input id="search_param" name="param" type="hidden" value="title">
                    <input autocomplete="off" class="form-control rounded" id="search_input" name="keyword"
                           placeholder="Search term..." type="text">

                    <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search">
                            <i class="bi bi-search"></i>
                        </span>
                    </button>
                </span>
                </div>
            </div>
        </form>
        <div class="ms-1 row" id="search_result_form" style="display: none">
            <div class="col-6 offset-3">
                <div class="d-flex flex-column border-2 rounded-2 mt-3 bg-white shadow" id="search_result">

                </div>
            </div>
        </div>

    </div>

    <div class="row mt-3">
        <div class="col-6 offset-3">
            <th:block sec:authorize="hasRole('USER')">
                <div class="d-flex justify-content-end">
                    <a class="btn btn-outline-primary" th:href="@{/post/create}">글 작성</a>
                </div>
            </th:block>

            <th:block th:each="post : ${pagingPost.getDataList()}">
                <div class="row mt-5">
                    <div class="d-flex justify-content-start mb-3">
                        <a class="badge bg-secondary me-2 text-decoration-none"
                           th:each="tag : ${post.tagList}"
                           th:text="${tag.item}" th:href="@{/search(param=${'tag'}, keyword=${tag.item.replace('#','')})}"/>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <a class="text-decoration-none text-info" th:href="@{/post/{id}(id=${post.postId})}">
                                <h2 th:text="${post.postTitle}"/>
                            </a>
                        </div>
                        <img alt="profile" class="rounded-circle profile" th:src="@{/profile/{img}(img=${post.getProfilePath()})}">
                    </div>

                    <div class="d-flex justify-content-start">
                        <i class="bi bi-pencil">
                            <span>
                                <a class="ms-3 text-decoration-none fs-5" style="font-style: normal" th:href="@{/info/{id}(id=${post.authorId})}" th:text="${post.author}"></a>
                            </span>
                        </i>
                    </div>
                    <span class="mt-3">
                        <i class="bi bi-body-text me-3"></i> [[${post.postContent}]]
                    </span>
                </div>

                <div class="mt-4">
                    <div class="d-flex justify-content-between">
                        <i class="bi bi-calendar ms-1">
                            <span class="ms-1" style="font-style: normal" th:text="${#temporals.format(post.createdBy,'yyyy-MM-dd HH:mm')}"></span>
                        </i>

                        <i class="bi bi-heart-fill me-1">
                            <span class="ms-1" style="font-style: normal" th:text="${post.likeCount}"></span>
                        </i>
                    </div>
                    <hr class="mt-3"/>
                </div>

            </th:block>

        </div>
    </div>

    <nav aria-label="Page navigation" class="d-flex justify-content-center mt-3"
         th:with="startPage = ${pagingPost.startPage}, endPage = ${pagingPost.endPage}">
        <ul class="pagination">
            <li class="page-item" th:classappend="${pagingPost.existPrevPage ? '' : 'disabled'}">
                <a aria-label="Previous" class="page-link" th:href="@{/(page=${pagingPost.startPage - 5})}">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>

            <li class="page-item" th:classappend="${pagingPost.currentPage == page ? 'active' : ''}"
                th:each="page: ${#numbers.sequence(startPage, endPage)}">
                <a class="page-link" th:href="@{/(page=${page})}" th:text="${page}"></a>
            </li>

            <li class="page-item" th:classappend="${pagingPost.existNextPage ? '' : 'disabled'}">
                <a aria-label="Next" class="page-link" th:href="@{/(page=${pagingPost.startPage + 5})}">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>

<th:block th:replace="fragment/head :: search"></th:block>

</body>
</html>